<html>
    <head>
        <title>F1-eurok07</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();   
    });
    </script>
    <style>
        body {
          padding-top: 70px;
        }
    </style>

<body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">F1 EUROK07 2017</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="nav navbar-nav">
            <li><a href="/lista">Pelaajalista pdf-muodossa</a></li>
              <li class="dropdown">
              <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="#">
                Vanhoja tuloksia
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu multi-column columns-3">
                 <div class="row">
 			            <div class="col-xs-3">
				            <ul class="multi-column-dropdown">
                      <% for(var i=2016; i >= 2010; i--) {%>
                        <li>
                          <a href="/results/<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                      </ul>
                  </div>
			            <div class="col-xs-3">
				            <ul class="multi-column-dropdown">
                      <% for(var i=2009; i >= 2000; i--) {%>
                        <li>
                          <a href="/results/<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                      </ul>
                    </div>
			            <div class="col-xs-3">
				            <ul class="multi-column-dropdown">
                      <% for(var i=1999; i >= 1996; i--) {%>
                        <li>
                          <a href="/results/<%= i %>"><%= i %></a>
                        </li>
                      <% } %>
                      </ul>
                    </div>


                  </div>
              </ul>
            </ul>
          </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>