    <% include header %>
    <div class="container">
        <div class="row">
          <% if(year < new Date().getFullYear()) { %>
            <h1> Vuoden <%= year %> tulokset </h1>
          <% } %>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1>Pelaajien pisteet</h1>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Pelaaja</th>
                        <th>Pisteet</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < sortedPlayers.length; ++i) { %>
                      <% if(i === 0) { %>
                      <tr class="gold">
                      <% } else if(i === 1) { %>
                      <tr class="silver">
                      <% } else if(i === 2) { %>
                      <tr class="bronze">
                      <% } %>
                      
                      
                        <td><%= i + 1 %></td>
                        <td><a href="#" data-toggle="popover" data-html="true" data-trigger="hover" 
                              data-content="
                          
                              <table class=&quot;table table-striped table-bordered table-condensed &quot;>
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th><%= sortedPlayers[i].name %></th>
                                  </tr>
                                </thead>
                                <tbody>
                                <% for(var d = 0; d < sortedPlayers[i].driverRanks.length; ++d) { %>
                                  <% if(sortedPlayers[i].driverRanks[d].color === "green") { %>
                                    <tr class=&quot;success&quot;>
                                  <% } else if(sortedPlayers[i].driverRanks[d].color === "yellow") { %>
                                    <tr class=&quot;warning&quot;>
                                  <% } else if(sortedPlayers[i].driverRanks[d].color === "gray") { %>
                                    <tr class=&quot;danger&quot;>
                                  <% } %>
                                    <td><%= d + 1 %></td>
                                    <td><%= sortedPlayers[i].driverRanks[d].name %></td>
                                  </tr>
                                <% } %>
                                </tbody>
                              </table>" 
                              
                              data-original-title="Pelaajan rivi"><%= sortedPlayers[i].name %></a></td>
                        <td><%= sortedPlayers[i].totalRank %></td>
                      </tr>
                    <% } %> 
                    </tbody>
                </table>
            </div>
           
           <div class="col-md-6 col-sm-6">
                <h1>Kuljettajien pisteet</h1>
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Kuljettaja</th>
                        <th>Pisteet</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < drivers.length; ++i) { %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td><%= drivers[i].name %></td>
                        <td><%= drivers[i].points %></td>
                      </tr>
                    <% } %> 
                    </tbody>
                </table>
            </div> 
        </div><!-- row -->
        </div>
        
    <!-- playerlisting begins here -->

    <div class="container">
      <div class="row">
          <h1>Pelaajalista</h1>
      </div>
      
      <div class="row">
        <% for(var tables = 0; tables < players.length / 8; ++tables) { %>
          <% var multiplier = tables * 8; %> 
          <table class="table table_sm_font table-striped table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th>#</th>
                <% for(var n = 0 + multiplier; n < 8 + multiplier; ++n) { %>
                  <% if (n >= players.length) { %>
                     <th style="width: 8%"></th>
                     <% continue; %>
                  <% } %>
                 <th style="width: 8%"><%= players[n].name %></th>
                <% } %> 
              </tr>
            </thead>
            <tbody>
            <% for(var d = 0; d < 6; ++d) { %>
              <tr>
                <% for(var p = 0 + multiplier; p < 8 + multiplier; ++p) { %>
                    <% if (p >= players.length) { %>
                       <th></th>
                      <% continue; %>
                    <% } %>
                  <% if (p === 0 + multiplier) { %>
                    <td style="width: 2%"><%= d + 1 %></td>
                  <% } %>
                  <% if(players[p].driverRanks[d].color === "green") { %>
                    <td style="width: 8%" class="success">
                  <% } else if(players[p].driverRanks[d].color === "yellow") { %>
                    <td style="width: 8%" class="warning">
                  <% } else { %>
                    <td style="width: 8%" class="danger">
                  <% } %>
                    <%= players[p].driverRanks[d].name %></td>
                <% } %>
              </tr>
            <% } %> 
            
            </tbody>
                  
          
          </table>
        <% } %>
        </div>

        <h1>Värien selitykset</h1>
      <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped table-bordered table-condensed table-hover">

          <tbody>
            <tr class="success">
              <td>Vihreä</td>
              <td>Kuljettaja on kuuden parhaan joukossa ja pelaajan rivissä oikealla sijalla.</td>
            </tr>
            <tr class="warning">
              <td>Keltainen</td>
              <td>Kuljettaja on kuuden parhaan joukossa, mutta pelaajan rivissä väärällä sijalla.</td>
            </tr>
            <tr class="danger">
              <td>Punainen</td>
              <td>Kuljettaja ei ole kuuden parhaan joukossa, mutta on pelaajan rivissä.</td>
            </tr>
          </tbody>
      </div>

      </div>
    </div>
    </body>
<!-- close html from header -->
</html>